/* $primaryColor: #7ea33b;
$secondaryColor: #d7c4ae;
$tertiaryColor: #262625;

$blackColor: #000000; */

$colors: (
    "primary":     #a1755c,
    "secondary":   #16122b,
    "tertiary":     #262625,

    "black":        #000000,
    "white":        #f2f2f2,
    
    "dark-green":     #41593b
);